.chipDiv{
	margin:10px;
	display:inline-block;
	word-wrap:break-word;
}



.chipcheckBox{

	margin:10px;
	display:inline-block;
	word-wrap:break-word;
	font-family: sans-serif;
	font-size:20px;
	background-color:red;
	border-radius:5px;
	padding:5px;
	draggable:true
}



.chipLabel
{
	
	margin:5px;
	display:inline-block;
	word-wrap:break-word;
	font-family: sans-serif;
	font-size:20px;

}




.chipDivParentVegCategories{
	//background-color:grey;
	display:inline-block;
	word-wrap:break-word;
	height:auto;
	border:1px solid white;
	position:relative;
	margin:10px;
	
	}



.chipDivParentNonVegCategories{
	//background-color:pink;
	display:inline-block;
	//width:400px;
	word-wrap:break-word;
	height:auto;
	border:1px solid white;
	position:relative;
	margin:10px;
	
}

.menuDiv
{
	background-color:grey;
	margin-top:100px;
	margin-left:250px;
	width:700px;
	padding:10px;
	display:inline-block;

}

.orderDiv{

	background-color:orange;
	display:inline-block;
	width:400px;
	height:auto;
	margin-top:100px;
	margin-left:50px;
	padding:10px;
	position:absolute;

}



#totalBill{
	font-size:30px;
	height:auto;
	font-weight:5px;
	display:inline-block;
}





div#calculationDiv{
	background-color:green;
	position:absolute;
    	top:10px;
    	right: 100px;
	padding:10px;
	width:400px;
	

}

#billValue{
	display:inline-block;
	font-size:30px;
	font-weight:5px;
	margin-left:50px;
}

#currency{
	display:inline-block;
	font-size:30px;
	font-weight:5px;
	margin-left:50px;

}

.orderItem{
	margin:10px;
	font-weight:5px;
	padding:5px;
	display:inline-block;	
}

.qtyItem{
	display:inline-block;
	width:70px;
	text-align: center;
}

#sendOrder{
	display:none;
}


