.vegStarters,.vegMains,.nonVegMains,.nonVegStarters
{

	height:80%;
	width:25%;
	position:inline-block;
	margin-left:1px;
	margin-top:50px;
	background-color: white;
}

.vegMains{
	background-color: white;

}


.dishMaster{
	width:1000px;
	//height:700px;
	height:auto;
	display:flex;
	margin-top:100px;
	margin-left:240px;
	background-color:red;

}




.dishMasterHeading{
	text-align:center;
	display:inline-block;
	position:absolute;
	align-items:center;
	background-color:grey;
	height:50px;
	width:1279px;
	left:240px;
	line-height: 50px;  
	
}

.sendMenu{

}



h2{
	text-align:center;
}


h2#{

}

.finalMenu{
	height:auto;
	width:18%;
	position:absolute;
	right:17px;
	top:150px;
	background-color: pink;


}


.chipDiv{
	margin:10px;
	display:inline-block;
	word-wrap:break-word;
}



.chipcheckBox{

	margin:10px;
	display:inline-block;
	word-wrap:break-word;
	font-family: sans-serif;
	font-size:20px;
	background-color:red;
	border-radius:5px;
	padding:5px;
	draggable:true
}



.chipLabel
{
	
	margin:5px;
	display:inline-block;
	word-wrap:break-word;
	font-family: sans-serif;
	font-size:15px;
	width:auto;

}

