.sideBar{
	width:220px;
	height:auto;
	background-color:grey;
	left:10px;
	margin-top:100px;
	position:absolute;

	

}

.sideButtonClearAll{
	margin:10px;
	width:190px;
	height:30px;
	padding:10px;
	margin-bottom:3px;
	
}

.sideButtonRunningOrder{
	margin-top:3px;
	margin-left:10px;
	width:190px;
	height:30px;
	margin-bottom:3px;


}


.sideButtonHistoryOrder{

	margin-top:3px;
	margin-left:10px;
	width:190px;
	height:30px;;
	margin-bottom:3px;

}

.sideButtonCreateMenu{

	margin-top:3px;
	margin-left:10px;
	width:190px;
	height:30px;;
	margin-bottom:10px;

}


