*{
	padding:0;
	margin:0;
}

body{
	background-image: url("../images/white.jpg");
	background-size:cover;
	background-position:center;
	

}


.parent{

	margin:auto;
	width:800;
	height:700;	
	align-items:center;
	justify-content:center;

	

}


.username, .password{
	

	position:relative;
	display:flex;
	margin:auto;
	top: 150;
	width:300px;
	padding:10px;	
	

}

span{
	
	
	display:block;
	width:300px;
	position:relative;
	margin:auto;
	top: 150;
	padding:5px;	
	text-align:left;
	font-size:30px;
	font-family:'sans-serif';
	

}

.login{
	display:flex;
	position:relative;
	top: 150;
	width:300px;
	padding:10px;margin:auto;
	justify-content:center;

		

}

.space{
	height:20px;
	
}