<head>
<link rel="stylesheet" type="text/css" href="d.css"/>
</head>
<script>
var choices = ["one", "two"];

function addInput() {
alert("Ss");
  var values = ["dog", "cat", "parrot", "rabbit"];
 
 
  for (const val of values) {
    var option = document.createElement("input");
    option.value = val;
    option.setAttribute("type","checkbox");
    option.text = val.charAt(0).toUpperCase() + val.slice(1);


    var label = document.createElement("label");
    label.innerHTML =val;
    label.htmlFor = "pets";
    option.appendChild(label);
    document.getElementById("div1").appendChild(option);
    document.getElementById("div1").appendChild(label);
   
  }

}

</script>
<body onload="addInput()">

<div id="div1">

</div>
<div>

</div>
</body>