.chipDiv{
	//border:4px solid red;
	margin:10px;
	display:inline-block;
	word-wrap:break-word;
}

.chipLabelDiv
{
	
	margin:10px;
	display:inline-block;
	word-wrap:break-word;
	font-family: sans-serif;
	font-size:20px;

}




.chipDivParentVegCategories{
	//background-color:grey;
	display:inline-block;
	word-wrap:break-word;
	height:auto;
	border:1px solid white;
	position:relative;
	margin:10px;
	
	}



.chipDivParentNonVegCategories{
	//background-color:pink;
	display:inline-block;
	//width:400px;
	word-wrap:break-word;
	height:auto;
	border:1px solid white;
	position:relative;
	margin:10px;
	
}

.menuDiv
{
	background-color:grey;
	margin:100px;
	width:800px;
	padding:10px;

}

